/* Remove default margin */
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  background-color: #edf2f4;
  color: $darkblue;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  color: $darkblue;
  font-weight: 500;
  line-height: 1.2;
  transition: all 0.3s ease-in-out;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.6rem;
}

a {
  color: $red;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: underline;
}
